<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.recipe_fourth">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Class.InternetConnectivity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/recipe_icons"
        android:label="@string/app_name"
        android:roundIcon="@drawable/recipe_icons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.Activity.IngredientDetails"
            android:parentActivityName=".ui.Activity.MainActivity"/>
        <activity
            android:name=".ui.Activity.RecipeDetails"
            android:configChanges="keyboardHidden|orientation" />

        <receiver
            android:name=".MyWidget"
            android:icon="@drawable/recipe_icons"
            android:label="Ingredients">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_info" />
        </receiver>

        <activity android:name=".ui.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Class.InternetConnectivity.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service android:name=".Class.ListViewWidgetService"

            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>